{{#if fullDisplay}}
<div class="input-group" id="layer-item-{{id}}">
    <span class="input-group-addon">
        <input type="checkbox" id="{{id}}-visible" class="layer-visible" {{#if display.visible}}checked="checked"{{/if}}/><label for="{{id}}-visible"><span></span></label>
    </span>
    <span class="form-control display-name">{{displayName}}</span>
    <span class="input-group-addon">
        <i class="fa fa-sort"></i>
        <i class="fa fa-sliders layer-options"></i>
        <i class="fa fa-square" style="color: {{displayColor}}"></i>
    </span>
</div>
{{else}}
    {{#if singleChoice}}
    <div class="radio">
        <label for="{{id}}-visible">
            <input type="radio" id="{{id}}-visible" class="layer-visible" name="singleChoice" {{#if display.visible}}checked="checked"{{/if}}/><span></span>
            {{displayName}}
        </label>
    </div>
    {{else}}
    <div class="checkbox">
        <label for="{{id}}-visible">
            <input type="checkbox" id="{{id}}-visible" class="layer-visible" name="multipleChoice" {{#if display.visible}}checked="checked"{{/if}}/><span></span>
            {{displayName}}
        </label>
    </div>
    {{/if}}
{{/if}}
