{{#if fullDisplay}}
<div class="input-group" id="layer-item-{{id}}" style="cursor: pointer;">
  <span class="input-group-addon">
    <input type="checkbox" id="{{id}}-visible" class="layer-visible" {{#if display.visible}}checked="checked"{{/if}}/><label for="{{id}}-visible"><span></span></label>
  </span>
  <span class="form-control display-name" {{#if display.infoPopup}} data-html="true" data-toggle="popover" title="{{displayName}}"  data-container="#layer-item-{{id}}" data-content="<div>{{template}}</div>" data-template='<div class="popover-1 popover" role="tooltip"><h3 class="popover-title"></h3><div class="popover-content"></div></div>'{{/if}}>
    {{#if link}}
      <a href="{{link}}" target="_blank">{{displayName}}</a>
    {{else}}
      {{displayName}}
    {{/if}}
  </span>
  <span class="input-group-addon">
    <i class="fa fa-sort"></i>
    <i class="fa fa-square" style="color: {{displayColor}}"></i>
    {{#if display.extraDownloadIcon}}
      <i class="fa fa-arrow-down layer-download-full-resolution"></i>
    {{/if}}
    {{#if display.options}}
      <i class="fa fa-paint-brush layer-show-options"></i>
    {{else}}
      <i class="fa fa-adjust layer-adjust-opacity" data-toggle="popover"></i>
    {{/if}}
  </span>
</div>
{{else}}
  {{#if singleChoice}}
    <div class="input-group" id="layer-item-{{id}}" style="cursor: pointer;">
      <span class="input-group-addon">
        <input type="checkbox" id="{{id}}-visible" class="layer-visible" name="singleChoice" {{#if display.visible}}checked="checked"{{/if}}/><label for="{{id}}-visible"><span></span></label>
      </span>
      <span class="form-control display-name" data-html="true" data-toggle="popover" title="{{displayName}}"  data-container="#layer-item-{{id}}" data-content="<div>{{template}}</div>" data-template='<div class="popover-1 popover" role="tooltip"><h3 class="popover-title"></h3><div class="popover-content"></div></div>'>
          {{displayName}}
      </span>
    </div>
  {{else}}
    <div class="input-group" id="layer-item-{{id}}" style="cursor: pointer;">
      <span class="input-group-addon">
        <input type="checkbox" id="{{id}}-visible" class="layer-visible" name="multipleChoice" {{#if display.visible}}checked="checked"{{/if}}/><label for="{{id}}-visible"><span></span></label>
      </span>
      <span class="form-control display-name" data-html="true" data-toggle="popover" title="{{displayName}}"  data-container="#layer-item-{{id}}" data-content="<div>{{template}}</div>" data-template='<div class="popover-1 popover" role="tooltip"><h3 class="popover-title"></h3><div class="popover-content"></div></div>'>
          {{displayName}}
      </span>
    </div>
  {{/if}}
{{/if}}
