<div class="panel panel-default">
  <div class="panel-heading" role="tab">
    <h4 class="panel-title">
      <a role="button" data-toggle="collapse" href="#collapse-{{layerId}}" aria-expanded="true">
        {{layerName}} {{#if isSearching}}<i class="fa fa-circle-o-notch fa-spin"></i>{{else}}{{#if hasError}}<i class="fa fa-exclamation text-danger"></i>{{else}}({{totalResults}}){{/if}}{{/if}}
        {{#if isSearching}}{{else}}<span class="caret"></span>{{/if}}
      </a>
    </h4>
  </div>
  <div id="collapse-{{layerId}}" class="panel-collapse panel-result-list collapse in" role="tabpanel">
    <div class="panel-body">
      <ul id="result-list-{{layerId}}" class="result-list list-inline list-unstyled"></ul>
    </div>
    {{#if showPagination}}
    <div class="panel-footer">
      <nav aria-label="Page navigation">
        <ul class="pagination pagination-sm" style="margin:0;">
          {{#if firstPage}}
            <li>
              <a href="#" aria-label="First" data-page="{{firstPage.number}}">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
          {{else}}
            <li class="disabled">
              <a aria-label="First">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
          {{/if}}
          {{#if prevPage}}
            <li>
              <a href="#" aria-label="Previous" data-page="{{prevPage.number}}">
                <span aria-hidden="true">&lsaquo;</span>
              </a>
            </li>
          {{else}}
            <li class="disabled">
              <a aria-label="Previous">
                <span aria-hidden="true">&lsaquo;</span>
              </a>
            </li>
          {{/if}}
          {{#each pages}}
            <li {{#if this.current}}class="active"{{/if}}>
              <a {{#if this.current}}{{else}}href="#" data-page="{{this.number}}"{{/if}}>
                {{this.showNumber}}
              </a>
            </li>
          {{/each}}
          {{#if nextPage}}
            <li>
              <a href="#" aria-label="Next" data-page="{{nextPage.number}}">
                <span aria-hidden="true">&rsaquo;</span>
              </a>
            </li>
          {{else}}
            <li class="disabled">
              <a aria-label="Next">
                <span aria-hidden="true">&rsaquo;</span>
              </a>
            </li>
          {{/if}}
          {{#if lastPage}}
            <li>
              <a href="#" aria-label="Last" data-page="{{lastPage.number}}">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          {{else}}
            <li class="disabled">
              <a aria-label="Last">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          {{/if}}
        </ul>
      </nav>
    </div>
    {{/if}}
  </div>
</div>
