<div class="panel panel-default">
  <div class="panel-heading" role="tab">
    <h4 class="panel-title">
      <a role="button" data-toggle="collapse" href="#collapse-{{layerId}}" {{#unless isClosed}}aria-expanded="true"{{else}}class="collapsed"{{/unless}}>
        {{layerName}}
        {{#if isSearching}}
          <!-- <i class="fa fa-circle-o-notch fa-spin"></i> -->
          <span class="search-progress"><span>.</span><span>.</span><span>.</span></span>
          {{#if totalResults}}
            ({{hasLoaded}}/{{totalResults}})
          {{/if}}
        {{else}}
          {{#if hasError}}
            <i class="fa fa-exclamation text-danger"></i>
          {{else}}
            {{#if hasMore}}
              ({{hasLoaded}}/{{totalResults}})
            {{else}}
              ({{totalResults}})
            {{/if}}
          {{/if}}
        {{/if}}
        {{#unless isSearching}}<span class="caret"></span>{{/unless}}
        {{#unless hasError}}<a target="_blank" href="{{searchRequest.url}}"><i class="fa fa-external-link"></i></a>{{/unless}}
      </a>
    </h4>
  </div>
  <div id="collapse-{{layerId}}" class="panel-collapse panel-result-list collapse {{#unless isClosed}}in{{/unless}}" role="tabpanel">
    {{#unless hasError}}
      {{#if isSearching}}
        <button class="btn btn-sm btn-default btn-block btn-load-more" type="button" disabled>{{t 'Searching' countLoadMore }}<span class="search-progress"><span>.</span><span>.</span><span>.</span></span></button>
      {{else if hasMore}}
        <button class="btn btn-sm btn-default btn-block btn-load-more" type="button">{{t 'load_more' countLoadMore}}</button>
      {{else if totalResults}}
        <button class="btn btn-sm btn-default btn-block btn-load-more" type="button" disabled>{{t 'No more records'}}</button>
      {{else}}
        <button class="btn btn-sm btn-default btn-block btn-load-more" type="button" disabled>{{t 'Search returned no results'}}</button>
      {{/if}}
      <div class="panel-body">
        <div class="spacer spacer-top"/>
        <ul id="result-list-{{layerId}}" class="result-list list-inline list-unstyled"></ul>
        <div class="spacer spacer-bottom"/>
      </div>
    {{else}}
      <div class="panel-body" style="color: white">{{t errorMessage}}</div>
    {{/unless}}
  </div>
</div>
