<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">{{t 'start_download' records.length}}</h4>
    </div>
    <div class="modal-body">
      {{#if downloadOptions}}
        <form class="form-horizontal">
          {{#if availableProjections.length}}
          <div class="form-group">
            <label class="col-sm-2 control-label">{{t 'Projection'}}</label>
            <div class="col-sm-10">
              <select class="form-control select-projection">
                <option>---</option>
                {{#each availableProjections}}
                <option value="{{this.identifier}}">{{this.name}}</option>
                {{/each}}
              </select>
            </div>
          </div>
          {{/if}}
          {{#if availableDownloadFormats.length}}
          <div class="form-group">
            <label class="col-sm-2 control-label">{{t 'Format'}}</label>
            <div class="col-sm-10">
              <select class="form-control select-format">
                <option>---</option>
                {{#each availableDownloadFormats}}
                <option value="{{this.mimeType}}">{{this.name}}</option>
                {{/each}}
              </select>
            </div>
          </div>
          {{/if}}
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <div class="checkbox">
                <label>
                  <input type="checkbox" class="subset-by-bounds" {{#if subsetByBounds}}checked="checked"{{/if}}>{{t 'Use bounding box of current spatial filter to crop'}}
                </label>
              </div>
              <div class="input-group">
                <input class="form-control input-sm" disabled="true" placeholder="Min-X" value="{{bbox.[0]}}">
                <span class="input-group-addon">-</span>
                <input class="form-control input-sm" disabled="true" placeholder="Min-Y" value="{{bbox.[1]}}">
                <span class="input-group-addon">-</span>
                <input class="form-control input-sm" disabled="true" placeholder="Max-X" value="{{bbox.[2]}}">
                <span class="input-group-addon">-</span>
                <input class="form-control input-sm" disabled="true" placeholder="Max-Y" value="{{bbox.[3]}}">
              </div>
            </div>
          </div>
        </form>
      {{/if}}
      <p>{{t 'confirm_download' records.length}}</p>
      <p>
        <i>Note: the browser might open separate windows or issue a warning.</i>
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">{{t 'Close' }}</button>
      <button type="button" class="btn btn-primary start-download" data-dismiss="modal">{{t 'Download' }}</button>
    </div>
  </div>
</div>
<div id="download-elements" style="display: none;"></div>
