<div class="selection-lists"></div>

<div class="input-group download-control">
  {{#if showDownloadOptions}}
  <span class="input-group-addon">{{t 'Format'}}:</span>
  <select class="form-control input-sm">
    <option selected>{{t 'native format'}}</option>
    <option value="image/tiff">TIFF</option>
    <option value="image/png">PNG</option>
  </select>
  <span class="input-group-btn">
    <button class="btn btn-default btn-sm" type="button" id="start-download" disabled>{{t 'Download'}}</button>
  </span>
  {{else}}
    <button class="btn btn-default btn-sm btn-block" type="button" id="start-download" disabled>{{t 'Download'}}</button>
  {{/if}}
</div>
<div id="download-elements" style="display: none;"></div>
