<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">{{t 'start_download' records.length}}</h4>
    </div>
    <div class="modal-body download-options">
      {{#if downloadOptions}}
        <form class="form-horizontal">
          {{#if enableGetEOCoverageSet}}
            <div class="form-group">
               <div class="col-sm-2">
                <label class="control-label">{{t 'Download Method'}}</label>
              </div>
              <div class="col-sm-10">
                <div class="checkbox">
              <label>
                <input type="checkbox" class="use-multiple-download" {{#if useMultipleDownload}}checked="checked"{{/if}}>{{t 'Download multiple files with GetEOCoverageSet'}}
              </label>
                </div>
              </div>
            </div>
          {{/if}}
          <div class="form-group">
            <div class="col-sm-2">
              <label class="control-label">{{t 'Bounding Box'}}</label>
            </div>
            <div class="col-sm-10">
              <div class="checkbox">
                <label>
                  <input type="checkbox" class="subset-by-bounds" {{#if subsetByBounds}}checked="checked"{{/if}}>{{t 'Use bounding box of current spatial filter to crop'}}
                </label>
              </div>
              <div class="input-group">
                <input class="form-control show-bbox input-sm" placeholder="Min-X" value="{{bbox.[0]}}">
                <span class="input-group-addon"> </span>
                <input class="form-control show-bbox input-sm" placeholder="Min-Y" value="{{bbox.[1]}}">
                <span class="input-group-addon"> </span>
                <input class="form-control show-bbox input-sm" placeholder="Max-X" value="{{bbox.[2]}}">
                <span class="input-group-addon"> </span>
                <input class="form-control show-bbox input-sm" placeholder="Max-Y" value="{{bbox.[3]}}">
                <span class="input-group-addon"> </span>
                <div class="input-group-btn">
                  <button type="button" class="btn btn-default btn-draw-bbox">{{t 'Draw Bounding Box'}}</button>
                </div>
              </div>
            </div>
          </div>
          {{#if availableProjections.length}}
          <div class="form-group">
            <div class="col-sm-2">
              <label class="control-label">{{t 'Projection'}}</label>
            </div>
            <div class="col-sm-10">
              <select class="form-control select-projection">
                <option>---</option>
                {{#each availableProjections}}
                <option value="{{this.identifier}}">{{this.name}}</option>
                {{/each}}
              </select>
            </div>
          </div>
          {{/if}}
          {{#if availableMultiDownloadFormats.length}}
          <div class="form-group downloadFormats">
            <div class="col-sm-2">
              <label class="control-label">{{t 'Package'}}</label>
            </div>
            <div class="col-sm-10">
              <select class="form-control select-package">
                <option>---</option>
                {{#each availableMultiDownloadFormats}}
                <option value="{{this.mimeType}}">{{this.name}}</option>
                {{/each}}
              </select>
            </div>
          </div>
          {{/if}}
          {{#if availableDownloadFormats.length}}
          <div class="form-group">
            <div class="col-sm-2">
              <label class="control-label">{{t 'Format'}}</label>
            </div>
            <div class="col-sm-10">
              <select class="form-control select-format">
                <option>---</option>
                {{#each availableDownloadFormats}}
                <option value="{{this.mimeType}}">{{this.name}}</option>
                {{/each}}
              </select>
            </div>
          </div>
          {{/if}}
          {{#if availableInterpolations.length}}
          <div class="form-group">
            <div class="col-sm-2">
              <label class="control-label">{{t 'Interpolation'}}</label>
            </div>
            <div class="col-sm-10">
              <select class="form-control select-interpolation">
                <option>---</option>
                {{#each availableInterpolations}}
                <option value="{{this.identifier}}">{{this.name}}</option>
                {{/each}}
              </select>
            </div>
          </div>
          {{/if}}
          <div class="form-group">
            <div class="col-sm-2">
              <label class="control-label">{{t 'Scaling'}}</label>
            </div>
            <div class="col-sm-10">
              <div class="radio">
                <label>
                  <input type="radio" name="scale-method" value="full" checked="checked">{{t 'Full size'}}
                </label>
              </div>
            </div>
          </div>
          <div class="form-group input-resolution">
            <div class="col-sm-offset-2 col-sm-4">
              <div class="radio">
                <label>
                  <input type="radio" class="scale-resolution" name="scale-method" value="resolution"><span>{{t 'Resolution'}} <small>({{#if projection_4326}}{{t 'In decimal degrees'}}{{/if}}
                    {{#unless projection_4326}}{{t 'In map units'}}{{/unless}})
                  </small></span>
                </label>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="input-group">
                <input type="number" class="form-control input-sm" placeholder="{{t 'Resolution'}} X" name="resolution-x" value="{{resolutionX}}" step="0.0001" min="0.0001" disabled="disabled">
                <span class="input-group-addon">-</span>
                <input type="number" class="form-control input-sm" placeholder="{{t 'Resolution'}} Y" name="resolution-y" value="{{resolutionY}}" step="0.0001" min="0.0001" disabled="disabled">
              </div>
            </div>
          </div>
          <!-- <div class="form-group input-size">
            <div class="col-sm-offset-2 col-sm-4">
              <div class="radio">
                <label>
                  <input type="radio" name="scale-method" value="size"><span>{{t 'Size'}} <small>({{t 'In pixels'}})</small></span>
                </label>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="input-group">
                <input type="number" class="form-control input-sm" placeholder="{{t 'Size'}} X" name="size-x" value="{{sizeX}}" step="1" min="1" disabled="disabled">
                <span class="input-group-addon">-</span>
                <input type="number" class="form-control input-sm" placeholder="{{t 'Size'}} Y" name="size-y" value="{{sizeY}}" step="1" min="1" disabled="disabled">
              </div>
            </div>
          </div> -->
          <div class="form-group input-scale">
            <div class="col-sm-offset-2 col-sm-4">
              <div class="radio">
                <label>
                  <input type="radio" name="scale-method" value="scale"><span>{{t 'Scale'}} <small>({{t 'Of total size'}})</small></span>
                </label>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="input-group">
                <input type="number" class="form-control input-sm" placeholder="{{t 'Scale'}}" name="scalefactor" value="100" step="1" min="0" max="500" disabled="disabled">
                <div class="input-group-addon">%</div>
              </div>
            </div>
          </div>
        </form>
      {{/if}}
      <p class="spacer download-confirm"><b>{{t 'confirm_download' records.length}}</b></p>
      {{#if records.[1]}}
          {{#if records.[2]}}
            <p class="multi-download-confirm" hidden="true">
              <i>{{t 'products_number_warning'}}</i>
            </p>
            <p class="download-confirm">
              <i>{{t 'confirm_note'}}</i>
            </p>

          {{else}}
            <p class="download-confirm">
              <i>{{t 'confirm_note'}}</i>
            </p>
          {{/if}}
      {{/if}}
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">{{t 'Close' }}</button>
      <button type="button" class="btn btn-primary start-download" data-dismiss="modal">{{t 'Download' }}</button>
    </div>
  </div>
</div>
