<div class="selection-lists {{#if termsAndConditionsUrl}}with-terms{{/if}}{{#unless downloadEnabled}} with-terms{{/unless}}"></div>
<div class="input-group download-control">
  {{#if termsAndConditionsUrl}}
  <div class="checkbox">
    <label>
      <input type="checkbox" class="terms-and-conditions"> {{{t 'terms_and_conditions' termsAndConditionsUrl}}}
    </label>
  </div>
  {{/if}}
  {{#unless downloadEnabled}}
  <div class="checkbox">
    <p>{{t 'Log in to enable the download'}}</p>
  </div>
  {{/unless}}
  <span class="btn-group btn-group-justified">
    <div class="btn-group" role="group">
      <button class="btn btn-default btn-sm start-download" type="button" disabled>{{t 'Download'}}</button>
    </div>
    <div class="btn-group dropup" role="group">
      <button class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" type="button" disabled>{{t 'Download as'}} <span class="caret"></span></button>
      <ul class="dropdown-menu dropdown-menu-right">
        <li><a href="#" class="download-as-metalink">{{t 'Download as Metalink'}}</a></li>
        <li><a href="#" class="download-as-url-list">{{t 'Download as URL-List'}}</a></li>
        {{#if selectFilesEnabled}}
        <!-- <div class="btn-group" role="group">
          <button class="btn btn-default btn-sm select-files" type="button" disabled>{{t 'Select files'}}</button>
        </div> -->
        <li><a href="#" class="select-files" type="button" disabled>{{t 'Download selected files...'}}</a></li>
        {{/if}}
      </ul>
    </div>
    <div class="btn-group" role="group">
      <button class="btn btn-default btn-sm btn-danger deselect-all" type="button" disabled>{{t 'Deselect all'}}</button>
    </div>
  </span>
</div>
<div id="download-elements" style="display: none;"></div>
